:root {
  --border--width: 3px;
  --border--style: solid;
  --border: var(--border--width) var(--border--style) #2f2d2d;
  --border-radius: 20px;
  --border-radius: 0px;
  --border-radius: 10px;

  --color: #2f2f2f;
  /* CONTENT */
  --content__bg-color: lightcyan;
  --content__bg-color: beige;
  --content__bg-color: #ebe2cc;
  /* NAV-BAR */
  --navbar__bg-color: #8adef3;
  --navbar__bg-color: transparent;
  --navbar__bg-color: #c5bead;
  --navbar__apps__bg-color: whitesmoke;
  --navbar__apps__bg-color--active: #f0b910;
  /* WINDOW */
  --window__header__bg-color: #cfc7b0d2;
  --window__header__bg-color: #b5b1a5;
  --window__header__height: 5%;
  --window__content__bg-color: #f0ebde;
  --window__shadow: 2px 6px 0px 1px rgb(51, 43, 43);

  --window__controls__border-radius: 9px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 1rem;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.39);
  border: var(--border);
}

*::-webkit-scrollbar-thumb {
  background-color: #f0b910;

  border: var(--border);
  cursor: pointer;
}
html,
body {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  transition: background 0.5s ease-in-out;
  overflow: hidden;
}

body.LOADING_OS {
  background-color: rgb(14, 14, 122);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
body.USER_SELECTION {
  background-color: rgb(14 14 164);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;

  .user {
    border: 5px double;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    > button {
      padding: 0.5rem 1rem;
      background: rgb(229, 228, 228);
      border: 0;
      outline: none;
    }
    > button:hover {
      cursor: pointer;
      background: white;
    }
  }
}
body.USER_DESKTOP {
  background-color: beige;
  display: flex;
  flex-direction: column;
  position: relative;

  .notification_bar {
    background-color: #e1af26;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
    flex-basis: 5%;
    padding-right: 0.5rem;

    > svg {
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }

    .icon {
      padding: 0.1rem 0.5rem;
      cursor: pointer;
    }
  }
  .content {
    flex-basis: 90%;
    position: relative;

    #icons {
      width: min-content;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0.3rem;

      padding: 1rem;
      padding-left: 0.5rem;

      .icon {
        cursor: pointer;
        /* width: 150px; */
        min-width: 120px;
        border-radius: var(--border-radius);
        padding: 1rem;
        opacity: 0.8;
        &:hover {
          background-color: #e1af26;
        }
      }
    }

    #windows {
      position: absolute;
      width: 100%;
      height: 300px;
      z-index: 3;
      top: 0;
      height: 0;
      .window {
        border: var(--border);
        position: absolute;
        top: 20%;
        left: 20%;
        width: 650px;
        height: 300px;
        min-width: 250px;
        min-height: 250px;
        font-weight: bold;

        background-color: aliceblue;
        border-radius: var(--border-radius);
        resize: both;
        overflow: auto;

        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
          z-index 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
      }
      .window.active {
        /* border: 4px solid #20d19c; */
        box-shadow: var(--window__shadow);
        z-index: 5;
      }
      .window.active .window__header {
        background-color: #f0b910;
      }
      .window__header {
        background-color: var(--window__header__bg-color);
        flex-basis: var(--window__header__height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: move;
        padding: 0.3rem;
        padding-left: 0.5rem;
        border-bottom: var(--border) black;
      }
      .window__header .name {
        flex-basis: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .window__controls {
        flex-basis: 10%;
        display: flex;
        justify-content: flex-end;
        gap: 0.1rem;
      }
      .window__controls .control {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /* pointer-events: none; */
        width: 32px;
        height: 32px;
        border: var(--border);
        opacity: 0.7;
        border-radius: var(--window__controls__border-radius);

        &:hover {
          opacity: 0.9;
          background-color: #c5bead;
        }
      }
      .window__content {
        flex-basis: 95%;
        background-color: var(--window__content__bg-color);
        width: 100%;
        height: 100%;
        padding: 1rem;
        overflow: auto;
        > div {
          border: none;
          outline: none;
          font-family: 'Courier New', Courier, monospace;
        }
      }
      .window.min {
        transform: translate(0%, 250%) scale(0);
      }
      .window.close {
        transition: all 0.3s ease-in-out;
        transform: scale(0);
      }
    }
  }
  .footer {
    flex-basis: 5%;
  }
  .context_menu_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0rem;

    .overlay {
      width: 100%;
      height: 100%;

      position: absolute;
      z-index: 3;
      /* background-color: rgba(190, 83, 83, 0.1); */
    }
    .context_menu {
      position: absolute;

      z-index: 3;

      width: 9rem;
      /* height: 200px; */
      background-color: whitesmoke;
      border: var(--border);
      border-radius: var(--border-radius);

      display: flex;
      flex-direction: column;
      gap: 0rem;

      overflow: hidden;
      cursor: pointer;

      .action {
        border: none;
        border-bottom: var(--border);

        height: 36px;
        padding: 1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        cursor: pointer;
        &:hover {
          opacity: 0.9;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .action:nth-last-child(1) {
        border: none;
      }
    }
  }
}

/* ICON */

.icon {
  cursor: pointer;
  > img {
    display: block;
  }
}

#open_apps_bar {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 10;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  .min_app {
    width: 48px;
    height: 48px;
    background-color: var(--navbar__apps__bg-color);
    border-radius: var(--border-radius);
    border: var(--border);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transition: all 0.3s ease-in-out;
      transform: scale(0.95);
      opacity: 0.9;
    }
    &.active {
      background-color: var(--navbar__apps__bg-color--active);
    }
  }
}

/* TERMINAL */
.terminal {
  width: 100%;
  height: 100%;
  scrollbar-gutter: stable both-edges;
  font-size: 1rem;
  font-weight: normal;
}
.terminal_output {
  /* font-size: 1rem; */
  opacity: 0.5;
}
.terminal_output pre.user_input {
  /* background-color: #d5a626; */
  font-weight: bold;
  /* border: 1px solid; */
  background-color: #a59776;
}
.input-bar {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  /* background-color: fuchsia; */
  /* background-color: #f0b910; */
}
.input-bar label {
}

.input-bar input {
  border: none;
  outline: none;
  height: 2rem;
  width: 80%;
  background-color: transparent;
  background-color: #f0b910;
  padding-left: 0.3rem;
}
/* NOTEPAD */
.editor {
  /* background-color: rgba(128, 128, 128, 0.3); */
  height: 100%;
  padding: 0.3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rebeccapurple;
  font-weight: bold;
  font-size: 2rem;
  overflow: auto;
  > * {
    font-size: 1rem;
    border-bottom: 2px solid gray;
    /* font-weight: 400; */
  }
}
